@model Models.PageVM

@{
    ViewBag.Title = "View1";
    HtmlHelper.ClientValidationEnabled = false;
}

<h2>View1</h2>



<style>

ul#validation { color: Red; font-weight: bold; }

select.input-validation-error {
    border: 1px solid #e80c4d;
}

</style>


@Html.Partial("~/Views/Home/_Person.cshtml", Model.Person)

@Html.Partial("~/Views/Home/_Book.cshtml", Model.Book)

<a href="#" id="TESTER">test</a>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
